body{
    font-family:'Montserrat', sans-serif ;
}

.topnav{
   
    float: right;
    

}
.ecxlogo{
    float: left;

}
.gallery{
    text-align: center;
    
}
 
.nav,.nav-item {
    list-style: none;
    color: #6A6A6A;
    font-size: 17px;
    float: right;
}
.picture{
    padding: 20px 20px 20px 20px;
    align-items: center;
}
.glr{
    text-align: center;
    text-align-last: center;
}
.pic1{
    height: 279.738037109375px;
width: 618.814453125px;
left: 95px;
top: 585px;
border-radius: 10px;
margin: 2px;

    
    
}

.pic2{
    
height: 325.3014221191419px;
width: 297.221649169923px;
left: 1035.4072265625px;
top: 910.30126953125px;
border-radius: 10px;

}
.pic3{
    height: 325.3014221191419px;
width: 297.221649169923px;
left: 1357px;
top: 910.30126953125px;
border-radius: 10px;
;

}
.pic4{
    height: 325.3014221191406px;
    width: 297.2216491699219px;
    left: 95px;
    top: 890.69873046875px;
    border-radius: 10px;
    
}
.pic5{
    height: 325.3014221191406px;
width: 297.2216491699219px;
left: 416.5927734375px;
top: 890.69873046875px;
border-radius: 10px;

}
.pic6{
    height: 279.7380371093761px;
width: 618.8144531250024px;
left: 1357px;
top: 1216px;
border-radius: 10px;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #6F6F6F;
}


@media screen and (max-width:1200px){
.topnav{
    height: ;
}
}
@media (min-width: 768px) and (max-width: 991px){
    .pic1,.pic6{
        width:50%;

    }
  }
  
  @media (max-width: 767px){
    .pic1,.pic6{
      width: 100%;
      
    }
    .pic2,.pic3,.pic4,.pic5{
        width: 15%;
    height: 230px;

    }
    #myBtn{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 20px;
    }
    .topbtn{
        color: white;
        margin-top: 0;
    }
    #myBtn:hover{
        background-color: darkred;
    }
  }
